.logChart{

}

.logChart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.logChart div{
    width: 30rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    box-shadow: 5px 10px 8px #000000;
}

.hidden {
    display: none;
}

.logItems{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    border-bottom: solid black 3px;
}

.logItems div{
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.logInfo{
    margin: 2rem;
    padding-bottom: 1rem;
    border-bottom: solid black 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logInfo div{
    border: solid black 2px;
    margin-bottom: 1rem;
    padding: 1.5rem;
    width: 14rem;
    box-shadow: 5px 10px 8px #000000;
    overflow-wrap: anywhere;
}

.logInfo div p{
    font-weight: bold;
}

.logInfo div p:last-of-type{
    color: rgb(74, 243, 7);
}

.logInfo div p:first-of-type{
    margin-bottom: 0.5rem;
}