aside {
    width: 20%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

aside a {
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    color: black;
}

#newDashboardButton {
    border: 1px solid black;
    padding: 2rem;
    margin-bottom: 1rem;
}

#newDashboardButton:hover {
    cursor: pointer;
}

#dashboardButtons {
    display: flex;
    flex-direction: column;
}

#dashboardButtons a {
    font-weight: bold;
}

a:hover {
    background-color:  rgba(74, 243, 7, 0.774);
}