aside {
    width: 20%;
    border-right: 1px solid black; 
}

aside a {
    padding: 15px;
    margin: 5px;
    font-size: medium;
    width: 100%;
    text-align: center;
}

#dashboardButtons {
    font-weight: bold;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#logoutButton, #settingsButton {
    bottom: 0;
    left: 0;
    position: fixed;
}
