main section#authlogcharts h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}


main section#authlogcharts h2 {
    font-weight: bold;
}

#entries {
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#entries h2 {
    text-align: right;
}

#entries table {
    height: 300px;
    overflow: auto;
    display: inline-block;
    margin-top: 20px;
}


#entries th div {
    margin-top: -50px;
    position: absolute;
    margin-bottom: 50px;
    font-weight: bold;
}

#entries th, td {
    padding: 20px;
    text-align: left;
}

#entries tr:nth-child(even) {
    background-color: #f2f2f2;
}

.charts,
.totals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.charts div {
    height: 400px;
    width: 400px;
}

.totals {
    text-align: center;
}

#totalunsuccessfulattempts {
    margin-right: 150px;
}

#totalerrors {
    margin-left: 150px;
}