html{
    background: url(../img/chart.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
body{
    height: 100%;
}
#app{
    height: 100%;
    font-size: 2rem;   
    font-weight: bold;
    color: #d4d8da; 
}

.py-4{
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login{
    background-color: black;
    opacity: 0.6;
    text-align: center;
    width: 27rem;
    padding-bottom: 4.5rem;
    padding-top: 3rem;
}

.login form div{
    margin-top: 1.5rem;
}

input {
    background-color: transparent;
    width: 15rem;
    height: 2.5rem;
    border-radius: 1.2rem;
    color: #00a7e7;
    font-size: 1.2rem;
    text-align: center;
}

button{
    width: 15rem;
    height: 2.5rem;
    border-radius: 1.2rem;
    background-color: #00a7e7;
    font-size: 1.5rem;   
    font-weight: bold;
    color: #d4d8da; 
}