section {
    /*width: 60%;
    margin-right: auto;*/
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-left: solid black 3px;
    border-right: solid black 3px;
}

section a{
  text-decoration: none;
  color: black;
}

section ul div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

section ul li {
    list-style: none;
    padding: 20px 20px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    /*margin-bottom: 20px;*/
    text-align: center;
}

section ul li:hover {
    background-color: #00A7E7;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

.new-dashboard-popup {
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 5px solid #f7c250;
    background-color: white;
    padding: 1rem;
  }

.new-dashboard-popup input{
    display: block;
    margin: 0.5rem;
}


.transparency {
    animation: transparency 0.5s forwards;
  }
  
  @keyframes transparency {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.1;
    }
  }


  .close {
    color: white;
    background-color: #f7c250;
    box-shadow: 0 4px 8px 0 #f7c250, 0 6px 20px 0 blanchedalmond;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: -20px;
    right: -20px;
    display: inline-block;
    border-radius: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
  }

.settings {
  width: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 5px solid #f7c250;
  background-color: white;
  padding: 1rem;
}

.settings h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.settings h4 {
  font-size: 1.1rem;
  margin-top: 1.5rem;
}

.settingContents {
  display: flex;
  flex-direction: column;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.darkMode {
  display: flex;
  flex-direction: row;
}

.log{
  display: flex;
  flex-direction: column;
  width: 100%;
}

form{
  text-align: center;
}

form select,button {
  background-color: transparent;
  width: 7rem;
  height: 1.5rem;
  color: #00a7e7;
  font-size: 1.2rem;
  text-align: center;
}

form{
  padding: 2rem;
  border: solid black 3px;
}

.logContainer{
  border: solid black 3px;
}
