section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-right: solid black 3px;
    border-left: 3px solid black; 
    border-bottom: 3px solid black; 
}

section a{
  text-decoration: none;
  color: white;
}

section a:hover{
  background-color: rgba(0, 0, 0, 0.719);
}

section ul div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

section ul li {
  list-style: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

section ul li a{
  padding: 1rem;
  border: 2px solid rgb(74, 243, 7);
  border-radius: 10px;
  
  text-align: center;
}

section ul li:hover {
    background-color: rgba(0, 0, 0, 0.719);
    cursor: pointer;
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

form input[type="submit"]:hover,
button[type="submit"]:hover {
  cursor: pointer;
}

.new-dashboard-popup div {
  text-align: center;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30rem;
  min-width: 250px;
  /*height: 10.5rem;*/
  height: auto;
  min-height: 65px;
  z-index: 1000;
  border: 5px solid rgb(53, 175, 5);
  background-color: rgb(24, 26, 27);
}

.new-dashboard-popup input{
    display: block;
    margin: 5px;
    border-radius: 2px;
    height: 2.5rem;
    border: solid rgb(74, 243, 7) 1px;
    border-radius: 5px;
    
}

.new-dashboard-popup h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.new-dashboard-popup input:focus {
  outline: none;
}

.new-dashboard-popup input[type="submit"] {
  height: 1.75rem;
}

.new-dashboard-popup form {
  border: none;
}


.transparency {
    animation: transparency 0.5s forwards;
  }
  
  @keyframes transparency {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.1;
    }
  }


  .close {
    color: white;
    background-color: rgb(53, 175, 5);
    box-shadow: 0 4px 8px 0 rgb(53, 175, 5), 0 6px 20px 0 blanchedalmond;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: -20px;
    right: -20px;
    display: inline-block;
    border-radius: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
  }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.darkMode {
  display: flex;
  flex-direction: row;
}

.log{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 1rem;
}

form{
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  border-right: solid black 3px;
  border-top: solid black 3px;
  border-bottom: solid black 3px;
}

form label{
  color: white;
}

form select,
button,
form input[type="submit"],
form input[type="text"] {
  background-color: transparent;
  width: 10rem;
  height: 1.5rem;
  color: rgb(74, 243, 7);
  font-size: 1rem;
}

form ,input[type="file"]{
  color: rgb(74, 243, 7);
  font-size: 1rem;
}

.logContainer{
  border-right: solid black 3px;
  border-bottom: solid black 3px;
  border-left: solid black 3px;
  margin-bottom: 3.5rem;
}

aside a{
  color: rgba(255, 255, 255, 0.877);
  border: solid rgb(0, 0, 0) 1px;
}

.log form input,select,button{
    margin-top: 1rem;
    border-radius: 5px;
}

.log form input[type="text"],select, button{
  height: 2.5rem;
  border: solid rgb(74, 243, 7) 1px;
}

.log form select{
  background-color: rgba(0, 0, 0, 0.925);
}

.log form input[type="file"]{
  margin-bottom: 2rem;
}

.log form button:hover{
  background-color: rgba(0, 0, 0, 0.719);
}

.logHeader{
  display: flex;
  border-left: 3px solid black; 
}

.log form div{
  display: flex;
  flex-direction: column;
}

#checkbox{
  display: inline;
}

.log form:first-of-type{
  width: 100%;
}

.log form:last-of-type{
  display: flex;
  justify-content: center;
  align-items: center;
}