section {
    width: 60%;
    margin-right: auto;
}

section ul div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

section ul li {
    list-style: none;
    padding: 20px 20px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

section ul li:hover {
    background-color: #00A7E7;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

.new-dashboard-popup {
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 5px solid #f7c250;
    background-color: white;
    padding: 1rem;
  }

.new-dashboard-popup input{
    display: block;
    margin: 0.5rem;
}


.transparency {
    animation: transparency 0.5s forwards;
  }
  
  @keyframes transparency {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.1;
    }
  }