section {
    /*width: 60%;
    margin-right: auto;*/
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-right: solid black 3px;
}

section a{
  text-decoration: none;
  color: white;
}

section ul div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

section ul li {
    list-style: none;
    padding: 20px 20px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    /*margin-bottom: 20px;*/
    text-align: center;
}

section ul li:hover {
    background-color: #00A7E7;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

form input[type="submit"]:hover,
button[type="submit"]:hover {
  cursor: pointer;
}

.new-dashboard-popup {
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 40%;
    border: 5px solid rgb(53, 175, 5);
    background-color: rgb(24, 26, 27);
    padding: 1rem;
  }

.new-dashboard-popup input{
    display: block;
    margin: 5px;
    border-radius: 2px;
}

.new-dashboard-popup h2 {
  font-size: 1.5rem;
}

.new-dashboard-popup input:focus {
  outline: none;
}

.new-dashboard-popup input[type="submit"] {
  height: 30px;
}

.new-dashboard-popup form {
  border: none;
}


.transparency {
    animation: transparency 0.5s forwards;
  }
  
  @keyframes transparency {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.1;
    }
  }


  .close {
    color: white;
    background-color: rgb(53, 175, 5);
    box-shadow: 0 4px 8px 0 rgb(53, 175, 5), 0 6px 20px 0 blanchedalmond;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: -20px;
    right: -20px;
    display: inline-block;
    border-radius: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
  }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.darkMode {
  display: flex;
  flex-direction: row;
}

.log{
  display: flex;
  flex-direction: column;
  width: 100%;
}

form{
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  border-right: solid black 3px;
  border-top: solid black 3px;
  border-bottom: solid black 3px;
}

form label{
  color: white;
}

form select,
button,
form input[type="submit"],
form input[type="text"] {
  background-color: transparent;
  width: 10rem;
  height: 1.5rem;
  color: rgb(74, 243, 7);
  font-size: 1rem;
}

form ,input[type="file"]{
  height: 1.5rem;
  color: rgb(74, 243, 7);
  font-size: 1rem;
}

.logContainer{
  border-right: solid black 3px;
  border-bottom: solid black 3px;
  border-top: solid black 3px;
  margin-bottom: 3.5rem;
}

aside a{
  color: rgba(255, 255, 255, 0.877);
  border: solid rgb(0, 0, 0) 1px;
}