td,th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

table{
    margin-bottom: 1rem;
    width: 20%;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


#container div {
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    position: relative;
}

#container canvas {
    justify-self: stretch;
    align-self: stretch;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
} 

.label {
    position: absolute;
    text-align: center;
    align-content: center;
    vertical-align: bottom;
    width: 100%;
    top: 61%;
    color:  #ff732d;
    font-size: 0.85vw;
}