td,th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

table{
    margin-bottom: 1rem;
    width: 20%;
}

#CanvasContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
}


#CanvasContainer div {
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    position: relative;
}

#CanvasContainer canvas {

    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
} 

.label {
    position: absolute;
    text-align: center;
    align-content: center;
    vertical-align: bottom;
    width: 100%;
    top: 62%;
    color:  #ffc7b6;
    font-size: 0.8vw;
}


.btn {
    background-color: #ffc7b6;
    border-color: #Fcb08b;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: white;
    color: #ffc7b6;
  }


body {
    padding: 1rem;
  }