body {
    padding: 1rem;
  }

/*---------------------*/
/*        TABLE        */
/*---------------------*/

table{
    margin-bottom: 1rem;
    width: 350px;
}

td,th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}


/*---------------------*/
/*       CANVAS        */
/*---------------------*/

#CanvasContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 50%;
    margin-bottom: 2vw;
}

#plainTextContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 2vw;
    position: relative;
}

/* @media screen and (max-width: 1500px) {
    #CanvasContainer {
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
    }
} */

@media screen and (max-width: 1200px) {
    #CanvasContainer {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 1300px) {
    #plainTextContainer {
        position: relative;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        row-gap: 3vw;
    }
}

#CanvasContainer div {
    justify-self: stretch;
    align-self: stretch;
    width: 90%;
    position: relative;
    margin-bottom: 1vw;
}

#CanvasContainer canvas {
    position: relative;
    width: 100%;
    height: auto;
} 


/*---------------------*/
/*        BUTTON       */
/*---------------------*/

#selected, .btn:hover {
    background-color: rgb(74, 243, 7);
    border-color: rgb(61, 202, 5);
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    height: auto;
}

.btn {
    background-color: #222222;
    border-color: rgb(61, 202, 5);
    color: rgb(74, 243, 7);
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    height: auto;
  }


#CanvasContainer.hidden, #buttonContainer.hidden, .hidden {
    display:none
}

#buttonContainer {
    margin-left: 2vw;
    margin-bottom: 0.5vw;
}

.log {
    margin-left: 1vw;
}

#processContainer, #memoryContainer, #diskContainer, #swapContainer {
    display: flex;
    text-align: center;
    width: 80%;
    flex-direction: column ;
    justify-content:center;  
    
    padding: 2vh;
}


#processContainer p {
    font-size: 4vw;
    color: rgb(74, 243, 7);
}

#memoryContainer p, #diskContainer p, #swapContainer p {
    font-size: 2vw;
    color: rgb(74, 243, 7);
}

span {
    font-weight: bold;
}


.glowing {
    --border-width: 3px;
    position: relative;
    align-items: center;
    background: #222;
    border-radius: var(--border-width);
  }
  .glowing::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: rgb(74, 243, 7);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .25;
    }
  }


  button:focus {
    outline: none;
}

  
table#systemContainer {
    padding: 1vw;
    border-radius: 25px;
    border: 2px solid rgb(61, 202, 5);
    border-collapse: separate;
    background-color: rgb(61, 202, 5);
    margin: 2vw;
}

#systemContainer td, #systemContainer th{
    border: none;
}

tr:nth-child(even){background-color: #222222;}