body {
    padding: 1rem;
  }

/*---------------------*/
/*        TABLE        */
/*---------------------*/

table{
    margin-bottom: 1rem;
    width: 350px;
}

td,th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}


/*---------------------*/
/*       CANVAS        */
/*---------------------*/

#CanvasContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
}

@media screen and (max-width: 1500px) {
    #CanvasContainer {
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 1200px) {
    #CanvasContainer {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
    }
}

#CanvasContainer div {
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    position: relative;
}

#CanvasContainer canvas {

    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
} 


/*---------------------*/
/*        BUTTON       */
/*---------------------*/

.btn {
    background-color: #ffc7b6;
    border-color: #Fcb08b;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: white;
    color: #ffc7b6;
  }

