table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50rem;
    text-align: center;
  }
  
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
  
table tr:nth-child(even){background-color: #f2f2f2;}
  
table tr:hover {background-color: #ddd;}
  
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00a7e7;
  color: white;
  text-align: center;
}

#content {
  display: flex;
  flex-direction: row;
}

#databaseCanvas, #userCanvas{
  width: 1000px;
}

#charts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-bottom: 10rem;
}