.table {
  border: 2px solid black;
  border-radius: 5px;
  padding: 30px;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.table table {
  height: 300px;
  overflow: auto;
  display: inline-block;
  margin-top: 20px;
}

table th div{
  margin-top: -50px;
  position: absolute;
  margin-bottom: 50px;
  font-weight: bold;
}

table td, table th {
  padding: 20px;
  text-align: left;
}
  
table tr:nth-child(even){
  background-color: #1e1d1d;
}

#tables {
  display: flex;
  flex-direction: row;
}

.charts {
  box-shadow: 5px 10px 8px #000000;
}

.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  overflow: auto;
  margin-bottom: 100px;;
  margin-left: auto;
  margin-right: auto;
}
