table {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: 10rem;
  margin-bottom: 10rem;
  display: block;
  height: 40rem;
  overflow-y: scroll;
  width: fit-content;
}
  
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
  
table tr:nth-child(even){background-color: #1e1d1d;}
  
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00a7e7;
  color: white;
  text-align: center;
}

#tables {
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex-direction: row;
}

.canvas{
  width: 50rem;
  margin-bottom: 5rem;
}

#charts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-bottom: 10rem;
}
