@import url(https://fonts.googleapis.com/css?family=Nunito);

html{
    height: 88%;
}

body {
    height: 100%;
    font-family: "Nunito", sans-serif;
    background-color: rgba(0, 0, 0, 0.925);
    color: rgba(255, 255, 255, 0.877);
}

header h1 {
    text-align: center;
    font-size: 3.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
    display: flex;
    height: 100%;
}