@import url(https://fonts.googleapis.com/css?family=Nunito);

body {
    font-family: "Nunito", sans-serif;
}

header h1 {
    text-align: center;
    font-size: 3.2rem;
    margin-top: 20px;
    margin-bottom: 30px;
}